body {
    font-family: Calibri, sans-serif;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    text-align: left;
  }
  
  header {
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 0px;
    background-color: #222;
  }
  
  h2 {
    border-bottom: 1px solid black;
  }
  p {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  section {
    padding: 10px;
    line-height: 1;
  }

  footer {
    background-color: #222;
    color: white;
    text-align: center;
  }