body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header {
    background: #222;
    color: white;
    padding: 30px;
  }
  
  section {
    padding: 20px;
  }